<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('head/setup-pre-variables.ejs') %>

  <%- include('head/load-backend-variables/variables.ejs') %>

  <%- include('head/head-common-part1.ejs') %>

  <%- include('head/meta-title-canonical-loader/meta-title-can.ejs') %>

  <%- include('head/css-loader/css.ejs') %>

  <%- include('head/schema-loader/schema.ejs') %>

</head>


<body>


  <%- include('body/nav.ejs') %>




    <!-- Welcome Section -->

    <section id="tmWelcome" class="parallax-window" data-parallax="scroll"
      data-image-src="<%= welcome_section_fr.banner_img_path %>" alt="<%= welcome_section_fr.banner_img_alt %>">

      <%- include('body/welcome-section/part1.ejs') %>

        <div class="tm-bg-black-transparent tm-welcome-container">
          <div class="container-fluid">


            <div class="row h-100">

              <%- include('body/welcome-section/part2.ejs') %>

            </div>
          </div>
        </div>
    </section>
    <!-- End Welcome section -->








    <!-- Portfolio section -->
    <section id="tmPortfolio">
      <div class="container-fluid">


        <div class="row">
          <div class="col-12">

            <header>
              <h1>Welcome to Opom Canada</h1>
              <p>Your source for high-quality, bilingual content in French and English.</p>
            </header>

            <section>
              <h2>About Us</h2>
              <p>At <strong>Opom Canada</strong>, we are dedicated to publishing insightful and engaging blog articles
                in both French and English. Our goal is to provide valuable content that resonates with diverse
                audiences, promotes knowledge sharing, and enhances online engagement. We are committed to delivering
                high-quality articles across various topics.</p>
            </section>

            <section>
              <h2>Coming Soon: Business Directory</h2>
              <p>We are excited to announce that Opom Canada will soon be launching a <strong>Business
                  Directory</strong> for Canadian businesses. This directory will provide a platform for businesses
                across Canada to list their services, connect with potential customers, and increase their online
                visibility. Stay tuned for more updates!</p>
            </section>

            <section>
              <p>Visit us at <a href="https://opom.ca">Opom.ca</a> for more information.</p>
            </section>


          </div>
        </div>


      </div>
    </section>


    <!-- End portfolio section -->


    <%- include('footer/footer.ejs') %>


</body>





</html>