<!DOCTYPE html>
<html lang="en">


<head>
  <%- include('head/setup-pre-variables.ejs') %>
  
  <!-- < %- include('head/load-backend-variables/variables.ejs') %> -->
  
  <%- include('head/head-common-part1.ejs') %>
  
  <%- include('head/meta-title-canonical-loader/meta-title-can.ejs') %>
  
  <%- include('head/css-loader/css.ejs') %>

  <meta name="googlebot" content="noindex">
  <meta name="robots" content="noindex">

</head>



<body>


  <%- include('body/nav.ejs') %>


  <!-- Welcome Section -->
  <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="<%= welcome_section_fr.banner_img_path %>"
    alt="<%= welcome_section_fr.banner_img_alt %>">

    <%- include('body/welcome-section/part1.ejs') %>

    <div class="tm-bg-black-transparent tm-welcome-container">
      <div class="container-fluid">


        <div class="row h-100">

          <%- include('body/welcome-section/part2.ejs') %>

        </div>
      </div>
    </div>
  </section>
  <!-- End Welcome section -->





  <!-- Portfolio section -->
  <section id="tmPortfolio">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">



          <div class="tm-extra-service-description">

            <header>
                <h1>Privacy Policy</h1>
                <p>Opom Canada is committed to protecting your privacy. This Privacy Policy explains how we collect, use, and protect your personal information.</p>
            </header>
        
            <section>
                <h2>Introduction</h2>
                <p>At Opom Canada, we respect your privacy and are committed to safeguarding any personal information you share with us. This policy outlines our practices regarding the collection, use, and protection of personal data when you use our website and services.</p>
            </section>
        
            <section>
                <h2>Information We Collect</h2>
                <p>We collect personal information such as your name, email address, telephone number, and business information when you register for our business directory or contact us for other services. This information is necessary for providing our services and maintaining our website.</p>
            </section>
        
            <section>
                <h2>How We Use Your Information</h2>
                <p>We use the personal information you provide to offer services, respond to inquiries, manage our business directory, and improve the user experience on our website. We do not sell or rent your personal information to third parties.</p>
            </section>
        
            <section>
                <h2>Cookies and Tracking Technologies</h2>
                <p>Our website uses cookies and other tracking technologies to enhance your experience, analyze site usage, and personalize content. You can disable cookies through your browser settings, but this may affect some features of the site.</p>
            </section>
        
            <section>
                <h2>Data Security</h2>
                <p>We implement security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. While we strive to use commercially acceptable means to protect your data, no method of transmission over the internet is completely secure.</p>
            </section>
        
            <section>
                <h2>Your Rights</h2>
                <p>You have the right to access, update, or request the deletion of your personal information stored by Opom Canada. If you wish to exercise any of these rights, please contact us at <a href="mailto:<%= locals.index_page_data.business_data_fr.email %>"><%= locals.index_page_data.business_data_fr.email %></a>.</p>
            </section>
        
            <section>
                <h2>Third-Party Links</h2>
                <p>Our website may contain links to third-party websites that are not controlled or operated by Opom Canada. We are not responsible for the content or privacy practices of these websites. Please review their privacy policies before submitting any personal information.</p>
            </section>
        
            <section>
                <h2>Changes to This Privacy Policy</h2>
                <p>We may update our privacy policy from time to time. Any changes will be posted on this page, and the "last updated" date will be revised accordingly.</p>
            </section>
        
            <section>
                <p>If you have any questions or concerns about this Privacy Policy, please contact us at <a href="mailto:<%= locals.index_page_data.business_data_fr.email %>"><%= locals.index_page_data.business_data_fr.email %></a>.</p>

                <ul>
                    <li>By email: <a href="mailto:<%= locals.index_page_data.business_data_fr.email %>"><%= locals.index_page_data.business_data_fr.email %></a></li>
                    <li>By phone: <%= business_data_fr.telephone %></li>
                    <li>By mail: <%= business_data_fr.street_address %> <%= business_data_fr.address_city %>, <%= business_data_fr.address_province_state %> <%= business_data_fr.postal_code %> <%= business_data_fr.address_country %></li>
                </ul>
            </section>

        </div>




        </div>
      </div>
    </div>
  </section>
  <!-- End portfolio section -->





  <%- include('footer/footer.ejs') %>




</body>





</html>