<% if (req_path === '/') { %>


  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description" content="<%= all_data_per_page_fr.description %>">
  <link rel="canonical" href="<%= req_path %>">

<% } else if (req_path === '/contact') { %>

  <!-- <title>Contact</title> -->
  <title><%= all_data_per_page_fr.title %></title>
  
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description" content="<%= all_data_per_page_fr.description %>">
  <link rel="canonical" href="<%= req_path %>">


<% } else if (req_path === '/organisation') { %>

  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.description %>">
  <link rel="canonical" href="<%= req_path %>">

<% } else if (req_path === '/a-propos') { %>

  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.description %>">
    <link rel="canonical" href="<%= req_path %>">


<% } else if (req_path === '/seo/drywall-kingston') { %>

  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.description %>">
  <link rel="canonical" href="<%= req_path %>">


<% } else if (req_path === '/seo/earnanswers') { %>

  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.description %>">
  <link rel="canonical" href="<%= req_path %>">
  


<% } else if (req_path.startsWith('/seo')) { %>

  <title><%= extra_service_page_fr.title %></title>
  <meta name="title" content="<%= extra_service_page_fr.title %>">
  <meta name="description"
    content="<%= extra_service_page_fr.description %>">
  <link rel="canonical" href='/seo/<%= extra_service_page_fr.slug %>'>



<% } else if (/^\/blog\/[^\/]+\/blog-posting\/[^\/]+$/.test(req_path)) { %>

  <title><%= blogData.title %></title>
  <meta name="title" content="<%= blogData.title %>">
  <meta name="description"
    content="<%= blogData.meta_description %>">
  <link rel="canonical" href='/blog/<%= blogData.category.slug %>/blog-posting/<%= blogData.slug %>'>

  <meta http-equiv="content-language" content="<%- blogData.lang %>">

  




  <% } else if (req_path === '/blog') { %>

    <title><%= all_data_per_page_fr.title %></title>
    <meta name="title" content="<%= all_data_per_page_fr.title %>">
    <meta name="description"
      content="<%= all_data_per_page_fr.description %>">
    <link rel="canonical" href='/blog'>






<% } else if (req_path.startsWith('/blog')) { %>

  <title><%= category_fr.category_name %></title>
  <meta name="title" content="<%= category_fr.category_name %>">
  <meta name="description"
    content="<%= category_fr.category_description %>">
  <link rel="canonical" href='/blog/<%= category_fr.slug %>'>
    


<% } else if (req_path === '/sitemap') { %>

  <%
  console.log(plan_du_site_page_fr)
  %>
  <title><%= plan_du_site_page_fr.page_title %></title>
  <meta name="title" content="<%= plan_du_site_page_fr.page_title %>">
  <meta name="description"
    content="<%= plan_du_site_page_fr.meta_description %>">
  <link rel="canonical" href='/sitemap'>
  
  

<% } else if (req_path === '/tiroir1/mention-legale') { %>


  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.meta_description %>">
  <link rel="canonical" href='/tiroir1/mention-legale'>
  
    


<% } else if (req_path === '/tiroir1/politique-de-confidentialite') { %>


  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.meta_description %>">
  <link rel="canonical" href='/tiroir1/politique-de-confidentialite'>
  
    

<% } else if (req_path === '/ral/thirty-two' || req_path === '/ral/thirty-three' || req_path === '/ral/thirty-four' || req_path === '/ral/thirty-five' || req_path === '/ral/thirty-six') { %>


  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.meta_description %>">
  <link rel="canonical" href='<%= locals.req_url %>'>
  

<% } else if (/^\/backlink\/\d+$/.test(req_path)) { %>

  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.meta_description %>">
  <link rel="canonical" href='/backlink/<%= locals.n %>'>


<!-- < % } else if (req_path === '/ral/thirty-three') { %>


  <title>< %= all_data_per_page_fr.title %></title>
  <meta name="title" content="< %= all_data_per_page_fr.title %>">
  <meta name="description"
    content="< %= all_data_per_page_fr.meta_description %>">
  <link rel="canonical" href='/ral/thirty-three'> -->



<% } else { %>
  <p>Status is unknown. 2</p>
<% } %>





